<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FPS</key>
	<integer>30</integer>
	<key>_curve</key>
	<string>InQuad</string>
	<key>blender_app_path</key>
	<string>/Applications/blender.app/Contents/MacOS/blender</string>
	<key>blender_env_path</key>
	<string>/Users/purma/Dropbox/bioling_blender</string>
	<key>color_mode</key>
	<string>solarized_dk</string>
	<key>color_modes</key>
	<dict>
		<key>bw</key>
		<dict>
			<key>fixed</key>
			<true/>
			<key>hsv</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>name</key>
			<string>Black and white</string>
		</dict>
		<key>print</key>
		<dict>
			<key>fixed</key>
			<true/>
			<key>hsv</key>
			<array>
				<real>0.2</real>
				<real>0.2</real>
				<real>0.2</real>
			</array>
			<key>name</key>
			<string>Print-friendly</string>
		</dict>
		<key>random</key>
		<dict>
			<key>fixed</key>
			<false/>
			<key>hsv</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>name</key>
			<string>Random for each treeset</string>
		</dict>
		<key>random-dark</key>
		<dict>
			<key>fixed</key>
			<false/>
			<key>hsv</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>name</key>
			<string>Against a dark background</string>
		</dict>
		<key>random-light</key>
		<dict>
			<key>fixed</key>
			<false/>
			<key>hsv</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>name</key>
			<string>Random on a light background</string>
		</dict>
		<key>solarized_dk</key>
		<dict>
			<key>fixed</key>
			<true/>
			<key>hsv</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>name</key>
			<string>Solarized dark</string>
		</dict>
		<key>solarized_lt</key>
		<dict>
			<key>fixed</key>
			<true/>
			<key>hsv</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>name</key>
			<string>Solarized light</string>
		</dict>
	</dict>
	<key>console_visible</key>
	<false/>
	<key>constituency_edge_shape</key>
	<integer>1</integer>
	<key>custom_colors</key>
	<dict/>
	<key>debug_treeset</key>
	<string>./resources/trees.txt</string>
	<key>default_binary_branching</key>
	<false/>
	<key>default_bracket_style</key>
	<integer>0</integer>
	<key>default_color_mode</key>
	<string>solarized_dk</string>
	<key>default_draw_features</key>
	<true/>
	<key>default_draw_width</key>
	<integer>2</integer>
	<key>default_hsv</key>
	<string>_None</string>
	<key>default_label_style</key>
	<integer>2</integer>
	<key>default_show_constituent_edges</key>
	<true/>
	<key>default_show_merge_order</key>
	<false/>
	<key>default_show_select_order</key>
	<false/>
	<key>default_traces_are_grouped_together</key>
	<integer>0</integer>
	<key>default_use_multidomination</key>
	<true/>
	<key>default_use_projection</key>
	<true/>
	<key>default_uses_multidomination</key>
	<true/>
	<key>default_visualization</key>
	<string>Left first tree</string>
	<key>default_who_projects</key>
	<string>left_external</string>
	<key>dpi</key>
	<integer>300</integer>
	<key>draw_width</key>
	<real>0.5</real>
	<key>edge_height</key>
	<integer>20</integer>
	<key>edge_width</key>
	<integer>20</integer>
	<key>edges</key>
	<dict>
		<key>_ikey_1</key>
		<dict>
			<key>color</key>
			<string>content1</string>
			<key>pull</key>
			<real>0.24</real>
			<key>shape_name</key>
			<string>shaped_cubic</string>
			<key>visible</key>
			<true/>
		</dict>
		<key>_ikey_2</key>
		<dict>
			<key>color</key>
			<string>accent2</string>
			<key>pull</key>
			<real>0.32</real>
			<key>shape_name</key>
			<string>cubic</string>
			<key>visible</key>
			<true/>
		</dict>
		<key>_ikey_3</key>
		<dict>
			<key>color</key>
			<string>accent4</string>
			<key>pull</key>
			<real>0.4</real>
			<key>shape_name</key>
			<string>cubic</string>
			<key>visible</key>
			<true/>
		</dict>
		<key>_ikey_4</key>
		<dict>
			<key>color</key>
			<string>accent4</string>
			<key>pull</key>
			<integer>0</integer>
			<key>shape_name</key>
			<string>linear</string>
			<key>visible</key>
			<true/>
		</dict>
		<key>_ikey_5</key>
		<dict>
			<key>color</key>
			<string>accent5</string>
			<key>pull</key>
			<real>0.4</real>
			<key>shape_name</key>
			<string>linear</string>
			<key>visible</key>
			<true/>
		</dict>
		<key>_ikey_6</key>
		<dict>
			<key>color</key>
			<string>content1</string>
			<key>pull</key>
			<real>0.5</real>
			<key>shape_name</key>
			<string>linear</string>
			<key>visible</key>
			<true/>
		</dict>
		<key>_ikey_7</key>
		<dict>
			<key>color</key>
			<string>content1</string>
			<key>pull</key>
			<real>0.4</real>
			<key>shape_name</key>
			<string>linear</string>
			<key>visible</key>
			<true/>
		</dict>
	</dict>
	<key>feature_edge_shape</key>
	<integer>3</integer>
	<key>file_name</key>
	<string>savetest.kataja</string>
	<key>fonts</key>
	<dict>
		<key>big_font</key>
		<array>
			<string>Palatino</string>
			<string>Normal</string>
			<integer>24</integer>
		</array>
		<key>feature_small</key>
		<array>
			<string>Lao MN</string>
			<string>Normal</string>
			<integer>7</integer>
		</array>
		<key>font</key>
		<array>
			<string>Palatino</string>
			<string>Normal</string>
			<integer>12</integer>
		</array>
		<key>italic_font</key>
		<array>
			<string>Century</string>
			<string>Normal</string>
			<integer>10</integer>
		</array>
		<key>menu_font</key>
		<array>
			<string>Monaco</string>
			<string>Normal</string>
			<integer>10</integer>
		</array>
		<key>phrase_label_font</key>
		<array>
			<string>Helvetica</string>
			<string>Normal</string>
			<integer>10</integer>
		</array>
		<key>sc_font</key>
		<array>
			<string>Lao MN</string>
			<string>Normal</string>
			<integer>9</integer>
		</array>
		<key>symbol_font</key>
		<array>
			<string>Menlo</string>
			<string>Normal</string>
			<integer>14</integer>
		</array>
		<key>ui_font</key>
		<array>
			<string>Helvetica</string>
			<string>Normal</string>
			<integer>10</integer>
		</array>
	</dict>
	<key>fps_in_msec</key>
	<real>33.333333333333336</real>
	<key>hanging_gloss</key>
	<true/>
	<key>include_features_to_label</key>
	<false/>
	<key>include_gloss_to_print</key>
	<true/>
	<key>keep_vertical_order</key>
	<false/>
	<key>move_frames</key>
	<integer>12</integer>
	<key>my_palettes</key>
	<dict/>
	<key>nodes</key>
	<dict>
		<key>_ikey_0</key>
		<dict>
			<key>color</key>
			<string>content1</string>
			<key>font</key>
			<string>main</string>
			<key>font-size</key>
			<integer>10</integer>
		</dict>
		<key>_ikey_1</key>
		<dict>
			<key>color</key>
			<string>content1</string>
			<key>font</key>
			<string>main</string>
			<key>font-size</key>
			<integer>10</integer>
		</dict>
		<key>_ikey_2</key>
		<dict>
			<key>color</key>
			<string>accent2</string>
			<key>font</key>
			<string>cursive</string>
			<key>font-size</key>
			<integer>10</integer>
		</dict>
		<key>_ikey_3</key>
		<dict>
			<key>color</key>
			<string>accent4</string>
			<key>font</key>
			<string>small-caps</string>
			<key>font-size</key>
			<integer>10</integer>
		</dict>
		<key>_ikey_4</key>
		<dict>
			<key>color</key>
			<string>accent5</string>
			<key>font</key>
			<string>cursive</string>
			<key>font-size</key>
			<integer>10</integer>
		</dict>
		<key>_ikey_5</key>
		<dict>
			<key>color</key>
			<string>accent6</string>
			<key>font</key>
			<string>small-caps</string>
			<key>font-size</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>print_file_name</key>
	<string>kataja_print</string>
	<key>print_file_path</key>
	<string></string>
	<key>save_key</key>
	<string>preferences</string>
	<key>selection_width</key>
	<real>0.8</real>
	<key>shared_palettes</key>
	<dict/>
	<key>spacing_between_trees</key>
	<integer>3</integer>
	<key>thickness_multiplier</key>
	<integer>2</integer>
	<key>touch</key>
	<false/>
	<key>ui_speed</key>
	<integer>8</integer>
	<key>use_magnets</key>
	<true/>
	<key>userspace_path</key>
	<string></string>
</dict>
</plist>
